.upvote-list {
  display: inline-flex;
  flex-wrap: wrap;
  gap: 10px;
  padding: 20px;
  border-radius: 15px;
  border: 2px solid #e7e7e7;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.upvote-list button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin-left: 20px;
}

.ctrl-button {
  background-color: transparent;
  border: 1px solid #f0f0f0;
  cursor: pointer;
  margin-left: 10px;
}
